{% extends 'layout/master.twig' %}

{% block content %}
 
 <div class="col-md-6 offset-md-3">

        <div class="card-title">
            <h5 class="text-primary text-capitalize">
             <i class="fa fa-pencil" aria-hidden="true"></i>  Update {{ user.name }}  information
            </h5>
        </div>
        <hr>

        <div class="card-body">
            <div class="basic-form">
                <form method="POST" action="{{ path_for('user.edit',{id:user.id}) }}" class="text-capitalize">
                <div class="form-group">
                        <label>Full Name</label>
                        <input type="text"   name="name" class="form-control {{ errors.name ? 'is-invalid':' ' }} "
                         placeholder="Full name" value="{{ user.name}}">
                        {% if errors.name %}
                        <div class="invalid-feedback">
                            {{ errors.name | first}}
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" name="email" class="form-control {{ errors.email ? 'is-invalid':'' }}" 
                        placeholder="valid email address" value="{{ user.email }}">

                         <div class="tel">
                         <small class="text-mute"> e.g name@example.com</small>
                    </div>

                        {% if errors.email %}
                            <div class="invalid-feedback">
                                {{ errors.email | first}}
                            </div>
                        {% endif %}

                    </div>

                    <div class="form-group">
                        <label>Phone </label>
                        <input type="text"  name="phone" class="form-control {{ errors.phone ? 'is-invalid': '' }}" 
                        placeholder="Phone number" value="{{ user.phone }}">

                        <div class="tel">
                         <small class="text-mute"> e.g +256700000000 or 0700000000</small>
                       </div>


                        {% if errors.phone %}
                            <div class="invalid-feedback">
                                {{ errors.phone | first}}
                            </div>
                        {% endif %}

                    </div>

                    <div class="form-group">
                        <label class="control-label">Role</label>
                        <select class="form-control {{ errors.role ? 'is-invalid':''}} custom-select text-capitalize" name="role" data-placeholder="Choose a Category"
                         tabindex="1">
                         <option value="">Select Role</option>
                            {% for role in helper.roles %}
                            <option value="{{ role.id }}">{{ role.role}}</option>
                            {% endfor %}
                            
                        </select>

                            {% if errors.role %}
                            <div class="invalid-feedback">
                                {{ errors.role | first}}
                            </div>
                        {% endif %}
                    </div>
                    <input type="hidden"  name="_METHOD" value="PUT"/>
                   {{ csrf.field | raw }}

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
</div>

{% endblock %}

