{% extends 'layout/master.twig'  %}

{% block content %}


    <div class="card-header">
        <h4 class="m-b-0 text-info "><i class="fa fa-plus-circle" aria-hidden="true"></i>
        Complete Student Registration
         </h4>
    </div>
 
    <div class="card-body">
        <form action="{{ path_for('secondary.create')}}"  method ="POST" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-body">
                <h3 class="box-title m-t-15">School Information</h3>
                <hr class="m-t-0 m-b-40">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">School Name <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">
                                <select class="form-control custom-select {{ errors.school_id ? 'is-invalid' :'' }}" 
                                name="school_id">
                                    <option value="">Choose School.</option>

                                    {% for item in helper.secondary %}
                                         <option value="{{ item.id}}">{{ item.school_name | capitalize}}</option>
                                    {% endfor %}
                                </select>
                                 {% if errors.school_id %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.school_id | first }} </div> 
                                {% endif %}
                                </div>
                        </div>
                    </div>
                    <!--/span-->
                     <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Form  <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control custom-select {{ errors.s_form ? 'is-invalid' :'' }}" 
                                name="s_form">
                                    <option value="">Choose ..</option>
                                    <option value="S1">S1</option>
                                    <option value="S2">S2</option>
                                    <option value="S3">S3</option>
                                    <option value="S4">S4</option>
                                    <option value="S5">S5</option>
                                    <option value="S6">S6</option>
                                    
                                </select>

                                {% if errors.s_form %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.s_form | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Stream </label>
                            <div class="col-md-9">
                                  <input type="text"  name="stream" class="form-control {{ errors.stream ? 'is-invalid' :'' }} " 
                                     placeholder="stream" value="{{ old.stream}}">
                                 {% if errors.stream %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.stream | first }} </div> 
                                {% endif %}
                                 </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Student Number </label>
                            <div class="col-md-9">
                               <input type="text"  name="student_number" class="form-control {{ errors.student_number ? 'is-invalid' :'' }} " 
                                     placeholder="student ID" value="{{ old.student_number}}">
                                 {% if errors.student_number %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.student_number | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->

                   <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3 ">Student Index No.</label>
                            <div class="col-md-9">

                                 <input type="text"  name="student_index" class="form-control {{ errors.student_index ? 'is-invalid' :'' }} " 
                                     placeholder="Index number for S.4 and S.6" value="{{ old.student_index}}">
                                 {% if errors.student_index %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.student_index | first }} </div> 
                                {% endif %}
                                
                                 </div>
                        </div>
                    </div>
                    <!--/span-->
                
                    <!--/span-->
                </div>
                <!--/row-->

               

                         <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3"> Favourite Subject </label>
                            <div class="col-md-9">
                                <select class="form-control custom-select {{ errors.fav_subject ? 'is-invalid' :'' }}" 
                                name="fav_subject">
                                    <option value="">Choose ..</option>
                                    {% for subject in helper.subjects %}
                                    <option value="{{ subject.name }}">{{ subject.name }}</option>
                                    {% endfor %}
                                    
                                </select>
                                 {% if errors.fav_subject %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.fav_subject| first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Favourite Sport.</label>
                            <div class="col-md-9">
                                <select class="form-control custom-select {{ errors.fav_sport ? 'is-invalid' :'' }}" 
                                name="fav_sport">
                                    <option value="">Choose ..</option>
                                    <option value="soccer">Soccer</option>
                                    <option value="rugby">Rugby</option>
                                    <option value="tennis">Tennis</option>
                                    <option value="netball">Netball</option>
                                    <option value="cricket">Cricket</option>
                                    <option value="swiming">swiming</option>
                                    
                                </select>
                                  {% if errors.sport %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.sport | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>

                <h3 class="box-title">Subjects</h3>
                <hr class="m-t-0 m-b-40">
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-9">

                         <ul class="list-group-flush">
                            {% for subject in helper.subjects %}
                                <li class="list-group-item">
                                    <input type="checkbox" name ="subjects[]" class="{{ errors.subjects ? 'is-invalid' : ''}}"
                                    value="{{ subject.id}}"> {{ subject.name }}
                                </li>
                             {% endfor %}
                             </ul>

                             {% if errors.subjects %}
                                <div class="form-control-feedback invalid-feedback">
                                    {{ errors.subjects | first }}
                                </div>
                             {% endif %}
                            </div>
                        </div>
                    </div>

                   
                <!--/row-->
            </div>
            <hr>
            {# <h3 class="box-title m-t-15">Examination Results only for S.4 and S.6</h3> #}
            
              


            <div class="form-actions ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="pull-right">
                             
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                        <div class="col-md-2 offset-md-10">
                            <div class="pull-right">
                                <button type="submit" class="btn   btn-primary btn-block">
                                  Complete Registration
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {{ csrf.field | raw}}

        </form>
    </div>
</div>

{% endblock %}