{% extends 'layout/master.twig'  %}

{% block content %}


    <div class="card-header">
        <h4 class="m-b-0 text-info "><i class="fa fa-plus-circle" aria-hidden="true"></i>
        Complete Student Registration
         </h4>
    </div>
 
    <div class="card-body">
        <form action="{{ path_for('institution.create')}}"  method ="POST" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-body">
                <h3 class="box-title m-t-15">Institution Information</h3>
                <hr class="m-t-0 m-b-40">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Institution Name <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">
                                <select class="form-control custom-select {{ errors.institution_name ? 'is-invalid' :'' }}" 
                                name="institution_name">
                                    <option value="">Choose Institution.</option>

                                    {% for item in institutions %}
                                         <option value="{{ item.id}}">{{ item.school_name}}</option>
                                    {% endfor %}
                                </select>
                                 {% if errors.institution_name %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.institution_name | first }} </div> 
                                {% endif %}
                                </div>
                        </div>
                    </div>
                    <!--/span-->
                     <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Level  <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control custom-select {{ errors.s_form ? 'is-invalid' :'' }}" 
                                name="s_form">
                                    <option value="">Choose ..</option>
                                    <option value="Year One">Year One</option>
                                    <option value="Year Two">Year Two</option>
                                    <option value="Year Three">Year Three</option>
                                    <option value="Year Four">Year Four</option>
                                    <option value="Year Five">Year Five</option>
                                </select>

                                {% if errors.s_form %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.s_form | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Student Registration Number 
                            <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">
                                  <input type="text"  name="registration_number" class="form-control {{ errors.registration_number ? 'is-invalid' :'' }} " 
                                     placeholder="Registration No. " value="{{ old.registration_number}}">
                                 {% if errors.registration_number %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.registration_number | first }} </div> 
                                {% endif %}
                                 </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Student Number </label>
                            <div class="col-md-9">
                               <input type="text"  name="student_number" class="form-control {{ errors.student_number ? 'is-invalid' :'' }} " 
                                     placeholder="student Number (Optional)" value="{{ old.student_number}}">
                                 {% if errors.student_number %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.student_number | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->

                   <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3 ">Accommodation
                             <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">

                                 <select class="form-control custom-select {{ errors.hostel_id ? 'is-invalid' :'' }}" 
                                name="hostel_id">
                                    <option value="">Choose ..</option>
                                    {% for hostel in helper.hostels %}
                                    <option value="{{ hostel.id }}">{{ hostel.hostel_name }}</option>
                                    {% endfor %}
                                    
                                </select>
                                 {% if errors.hostel_id %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.hostel_id| first }} </div> 
                                {% endif %}
                                 </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                             <label class="control-label text-right col-md-3">Course Name <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                             <select class="form-control custom-select {{ errors.course_id ? 'is-invalid' :'' }}" 
                                name="course_id">
                                    <option value="">Choose ..</option>
                                    {% for course in helper.courses %}
                                     <option value="{{ course.id}}">{{ course.name | capitalize}}</option>
                                    {% endfor %}
                                    
                                </select>

                                {% if errors.course_id %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.course_id | first }} </div> 
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
           

                 <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3"> Qualification  <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control custom-select {{ errors.qualification ? 'is-invalid' :'' }}" 
                                name="qualification">
                                    <option value="">Choose ..</option>
                                    {% for qualification in qualifications %}
                                    <option value="{{ qualification.qualification_name }}">
                                    {{ qualification.qualification_name }}</option>
                                    {% endfor %}
                                    
                                </select>
                                 {% if errors.qualification %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.qualification | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                           
                        </div>
                    </div>
                    <!--/span-->
                </div>

                <h3 class="box-title">Student Bank Details</h3>
                <hr class="m-t-0 m-b-40">
                <!--/row-->
              
                 <!--/row-->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Student Bank Name
                            <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">
                                 <select class="form-control custom-select {{ errors.student_bank_name ? 'is-invalid' :'' }}" 
                                name="student_bank_name">
                                    <option value="">Choose ..</option>
                                    {% for bank in helper.banks %}
                                     <option value="{{ bank.bank_name}}">{{ bank.bank_name | capitalize}}</option>
                                    {% endfor %}
                                    
                                </select>

                                {% if errors.student_bank_name %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.student_bank_name | first }} </div> 
                                {% endif %}
                             </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-8">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Student Bank Account </label>
                            <div class="col-md-9">

                               <input type="text"  name="student_bank_account" class="form-control {{ errors.student_bank_account ? 'is-invalid' :'' }} " 
                                     placeholder="Student account number " value="{{ old.student_bank_account}}">
                                 {% if errors.student_bank_account %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.student_bank_account | first }} </div> 
                                {% endif %}
                               
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->


                   <!--/row-->
                <div class="row">
                   
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-1">Student Bank Address </label>
                            <div class="col-md-11">

                               <input type="text"  name="student_bank_address" class="form-control {{ errors.student_bank_address ? 'is-invalid' :'' }} " 
                                     placeholder="Student Bank Address " value="{{ old.student_bank_address}}">
                                 {% if errors.student_bank_address %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.student_bank_address | first }} </div> 
                                {% endif %}
                               
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                   
                <!--/row-->
            </div>
          
       
        

          <h3 class="box-title">Accommodation Bank Details (Optional)</h3>
                <hr class="m-t-0 m-b-40">
                   
                 <!--/row-->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3"> Bank Name
                            <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">
                                 <select class="form-control custom-select {{ errors.other_bank_name ? 'is-invalid' :'' }}" 
                                name="other_bank_name">
                                    <option value="">Choose ..</option>
                                    {% for bank in helper.banks %}
                                     <option value="{{ bank.bank_name}}">{{ bank.bank_name | capitalize}}</option>
                                    {% endfor %}
                                    
                                </select>

                                {% if errors.other_bank_name %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.other_bank_name | first }} </div> 
                                {% endif %}
                             </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-8">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3"> Bank Account </label>
                            <div class="col-md-9">
                                <input type="text"  name="other_bank_account" class="form-control {{ errors.other_bank_account ? 'is-invalid' :'' }} " 
                                     placeholder="Other account number " value="{{ old.other_bank_account}}">
                                 {% if errors.other_bank_account %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.other_bank_account | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
    
                <!--/row-->
       
                        <!--/row-->
               
                   
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-1"> Bank Address </label>
                            <div class="col-md-11">

                               <input type="text"  name="other_bank_address" class="form-control {{ errors.other_bank_address ? 'is-invalid' :'' }} " 
                                     placeholder="  Other  Bank Address " value="{{ old.other_bank_address}}">
                                 {% if errors.other_bank_address %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.other_bank_address | first }} </div> 
                                {% endif %}
                               
                            </div>
                        </div>
                  
       

            <div class="form-actions ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="pull-right">
                             
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                        <div class="col-md-2 offset-md-10">
                            <div class="pull-right">
                                <button type="submit" class="btn   btn-primary btn-block">
                                  Complete Registration
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {{ csrf.field | raw}}

        </form>
    </div>
</div>

{% endblock %}