{% extends 'layout/master.twig' %}

{% block content %}

        <h4 class="card-title text-primary"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
            Manage students

            {% if auth.permission.id in [2,3,4,5] %}
                <a href="{{ path_for('student.create') }}" class="btn  btn-primary pull-right">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                New student
                </a>
            {% endif %}

         
            </h4>
        <h6 class="card-subtitle">Manage all users </h6>

            <form method="POST" action="{{ path_for('student.search')}}">
               {% include 'student/personal/partial/find.twig' %}
            </form>


            <div class="table-responsive m-t-40">


            {# <div class="dt-buttons"><a class="dt-button buttons-copy buttons-html5" 
            tabindex="0" aria-controls="example23" href="#"><span>Copy</span></a>
            <a class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>CSV</span></a><a class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Excel</span></a><a class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>PDF</span></a>
            <a class="dt-button buttons-print" tabindex="0" aria-controls="example23" href="#"><span>Print</span></a></div> #}

                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Student No.</th>
                            <th>Name</th>
                            <th>Institution</th>
                            <th>District</th>
                            <th>Gender</th>
                            <th>Reg. No</th>
                            <th>Status</th>
                            <th>Edit</th>
                            <th>View</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tfoot>
                        
                    </tfoot>
                    <tbody class="">
                    {% for item in items %}
                        <tr>
                            <td>
                            {% if item.photo %}
                                 <img src="{{path}}{{item.photo}}" alt="photo" height="40" with="40" class="rounded-circle">
                            {% else %}
                                 <img src="{{path}}/profile.png" alt="photo" height="40" with="40" class="rounded-circle">
                            {% endif %}
                            </td>
                            <td>{{ item.bursary_id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.school_name }}</td>
                            <td>{{ item.dist_name}}</td>
                            <td>{{ item.gender | capitalize }}</td>
                            <td>{{ item.s_form }}</td>
                            <td>{{ item.current_state }}</td>
                             <td>
                             {% if auth.permission.id in [3,4,5] %}
                              <a href="{{ path_for('student.edit',{id:item.bursary_id})}}" 
                              onClick="return confirm('Are you sure  you want to edit {{ item.name }}?')" class="btn btn-info">
                               <i class="fa fa-pencil-square" aria-hidden="true"></i>
                              </a>
                              {% else %}
                              <button  onClick="return confirm('Are you sure  you want to edit {{ item.name }}?')" 
                              class="btn btn-" disabled>
                               <i class="fa fa-pencil-square" aria-hidden="true"></i>
                              </button>

                              {% endif %}
                               
                            </td>

                                 <td>
                              <a href="{{ path_for('student.show',{id:item.bursary_id})}}" class="btn btn-primary">
                               <i class="fa fa-eye" aria-hidden="true"></i>
                              </a>
                               
                            </td>
                            <td>
                            
                            {% if auth.permission.id  in [4,5] %}
                            <form method="POST" action="{{path_for('student.trash',{id:item.bursary_id})}}">
                                <button class="btn btn-danger" onClick=" return confirm('Are you sure you want to delete this user ?')" type="submit">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                <input type="hidden" name="_METHOD" value="PUT">
                                {{ csrf.field | raw}}
                                </button>
                            </form>
                            {% else %}
                                <button  class="btn btn-danger" disabled>
                               <i class="fa fa-pencil-square" aria-hidden="true"></i>
                              </button>
                            {% endif %}
                            </td>
                          
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
              {% block base_index %}
               {% include 'student/personal/partial/pagination.twig' %}
               {% endblock %}
            </div>
             
        </div>
        
    </div>
{% endblock %}
