{% extends 'layout/master.twig' %}

{% block content %}

    <div class="card-header">
        <h4 class="m-b-0 text-info "><i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add a new student
         </h4>
    </div>
 
    <div class="card-body">
        <form action="{{ path_for('student.create')}}"  method ="POST" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-body">
                <h3 class="box-title m-t-15">Person Information</h3>
                <hr class="m-t-0 m-b-40">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Full Name <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">
                                <input type="text"  name="name" class="form-control {{ errors.name ? 'is-invalid' :'' }} " 
                                     placeholder="John doe" value="{{ old.name}}">
                                 {% if errors.name %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.name | first }} </div> 
                                {% endif %}
                                </div>
                        </div>
                    </div>
                    <!--/span-->
                     <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Date of Birth <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input type="date"  name="dob" class="form-control {{ errors.dob ? 'is-invalid' :'' }}"
                                 value="{{old.dob}}"  placeholder="dd/mm/yyyy">

                                {% if errors.dob %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.dob | first }} </div> 
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Gender <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control custom-select {{ errors.gender ? 'is-invalid' :'' }}" name="gender">
                                    <option value="">Choose ..</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                                 {% if errors.gender %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.gender | first }} </div> 
                                {% endif %}
                                 </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Level  <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control custom-select {{ errors.level ? 'is-invalid' :'' }}" name="level">
                                    <option value="">Choose ..</option>
                                    {% for level in helper.levels %}
                                     <option value="{{ level.name }}">{{ level.name | capitalize }}</option>
                                    {% endfor %}
                                </select>

                                {% if errors.level %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.level | first }} </div> 
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->

                   <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3 ">District <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control custom-select {{ errors.district ? 'is-invalid' :'' }}" name="district">
                                    <option value="">Choose ..</option>
                                    {% for district in helper.karamojadistricts %}
                                    <option value="{{ district.id}}{{district.district_name}}">{{ district.district_name | capitalize }}</option>
                                    {% endfor %}
                                </select>

                                {% if errors.district %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.district | first }} </div> 
                                {% endif %}
                                
                                 </div>
                        </div>
                    </div>
                    
                 
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Sub county 
                             <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                            <select  class="form-control {{ errors.subcounty ? 'is-invalid' :'' }}" name="subcounty">
                            <option value="">Choose </option>
                            {% for subcounty in subcounties %}
                            <option value="{{ subcounty.subcounty_name}}">{{ subcounty.subcounty_name}}</option>
                            {% endfor %}
                            </select>
                            

                               {% if errors.subcounty %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.subcounty | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->

               <!--row-->
                <!--/span-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Year of Start 
                             <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                             <input type="date" name="year_start" value="{{ old.year_start}}" class="form-control {{ errors.year_start ? 'is-invalid':''}}">

                             {% if errors.year_start  %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.year_start  | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
             
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Year of completion <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">
                            <input type="date" name="year_stop" value="{{ old.year_stop}}" class="form-control {{ errors.year_stop ? 'is-invalid':''}}">

                             {% if errors.year_stop  %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.year_stop  | first }} </div> 
                                {% endif %}
                             </div>
                        </div>
                    </div>
            </div>
                    <!--/span-->
             <!--/row-->

             
                   <!--row-->
                <!--/span-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Year of Registration 
                             <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                             <input type="date" name="registration_year" value="{{ old.registration_year}}" class="form-control {{ errors.registration_year ? 'is-invalid':''}}">

                             {% if errors.registration_year  %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.registration_year  | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
             
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">National ID Number 
                            </label>
                            <div class="col-md-9">
                            <input type="text" name="national_id" value="{{ old.national_id}}" class="form-control {{ errors.national_id ? 'is-invalid':''}}">

                             {% if errors.national_id  %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.national_id  | first }} </div> 
                                {% endif %}
                             </div>
                        </div>
                    </div>
            </div>
                    <!--/span-->
             <!--/row-->

<br>


            <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                         <label class="control-label text-right col-md-3">
                            Tribe
                            <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">
                            <select name="ethnicity" class="form-control {{ errors.ethnicity ? 'is-invalid' :'' }}">
                                <option value="">Choose</options> 
                                {% for tribe in tribes %}
                                      <option value="{{ tribe.tribe_name}}">{{ tribe.tribe_name}}</option>
                                {% endfor %}
                            </select>
                                 {% if errors.ethnicity %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.ethnicity | first }} </div> 
                                {% endif %}
                             </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Village </label>
                            <div class="col-md-9">
                               <input type="text" vale="{{old.village}}" class="form-control {{ errors.village ? 'is-invalid' :'' }}
                               " name="village" placeholder="Village">

                                {% if errors.village %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.village | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                  <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                               <label class="control-label text-right col-md-3">PLE Entry grade 
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control {{ errors.entry_grade ? 'is-invalid' :'' }}" value="{{ old.entry_grade}}"
                                     name="entry_grade" placeholder="P.L.E Grade">

                                      {% if errors.entry_grade %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.entry_grade | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                             <label class="control-label text-right col-md-3">UCE Grade 
                                
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control {{ errors.uce_grade ? 'is-invalid' :'' }}" value="{{ old.uce_grade}}"
                                     name="uce_grade" placeholder="U.C.E Grade">

                                      {% if errors.uce_grade %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.uce_grade | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>


             
                   <!--row-->
                <!--/span-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                                       <label class="control-label text-right col-md-3">UACE Grade 
                                
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control {{ errors.uace_grade ? 'is-invalid' :'' }}" value="{{ old.uace_grade}}"
                                     name="uace_grade" placeholder="U.A.C.E Grade">

                                      {% if errors.uace_grade %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.uace_grade | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
             
                    <div class="col-md-6">
                        <div class="form-group row">
                           <label class="control-label text-right col-md-3">Photo</label>
                            <div class="col-md-9">
                                <input type="file"  name="photo" class="form-control {{ errors.photo ? 'is-invalid' :'' }}" 
                                    placeholder="..."  accept="image/*">

                                  {% if errors.photo %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.photo | first }} </div> 
                                {% endif %}
                             </div>
                        </div>
                    </div>
            </div>
                    <!--/span-->
             <!--/row-->



                   <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Bursary ID</label>
                            
                            <div class="col-md-9">
                               <input type="text"  name="bursary_id" class="form-control {{ errors.bursary_id ? 'is-invalid' :'' }} " 
                                     placeholder="201800" value="{{ old.bursary_id}}">
                                 {% if errors.bursary_id %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.bursary_id | first }} </div> 
                                {% endif %}
                                 <span class="text-warning"> * Only for  a student who has completed secondary level under the Bursary Programme</span>
                            </div>
                           
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->



                <h3 class="box-title">Contact Information</h3>
                <hr class="m-t-0 m-b-40">
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Student Phone No.
                               
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control {{ errors.student_phone ? 'is-invalid' :'' }}"
                                 name="student_phone" value="{{ old.student_phone}}" placeholder="07777777777">

                                 {% if errors.student_phone %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.student_phone | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Student Email</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control {{ errors.student_email ? 'is-invalid':''}}" name="student_email" 
                                value="{{ old.student_email }}">

                                   {% if errors.student_email %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.student_email | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                   <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Next of Kin Name
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control {{ errors.parent1_name ? 'is-invalid':''}}"
                                 name="parent1_name" value="{{ old.parent1_name}}">

                                {% if errors.parent1_name  %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.parent1_name | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Next of Kin Phone No.
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control  {{ errors.parent1_phone ? 'is-invalid':''}}"
                                 name="parent1_phone" value="{{old.parent1_phone}} " placeholder="0777777777">

                                  {% if errors.parent1_phone  %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.parent1_phone | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">2nd Next of Kin</label>
                            <div class="col-md-9">
                                <input type="text" name="parent2_name" class="form-control {{ errors.parent2_name ? 'is-invalid':''}}" 
                                value="{{ old.parent2_name}}">

                                  {% if errors.parent2_name %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.parent2_name | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">2nd Next of Kin Phone No.</label>
                            <div class="col-md-9">
                                <input type="text" name="parent2_phone"  value="{{ old.parent2_phone}}"
                                class="form-control {{ errors.parent2_phone ? 'is-invalid':''}}" placeholder="07777777777">

                                  {% if errors.parent2_phone  %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.parent2_phone | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Current State</label>
                            <div class="col-md-9">
                                 <select class="form-control custom-select {{ errors.current_state ? 'is-invalid':''}}" name="current_state">
                                    <option value="">Choose ..</option>
                                    <option value="continuing">Continuing</option>
                                     <option value="completed">Completed</option>
                                    <option value="dropout">Dropout</option>
                                </select>

                                 {% if errors.current_state  %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.current_state | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Funder 
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-9">

                             <select class="form-control custom-select {{ errors.funder ? 'is-invalid':''}}" name="funder">
                                    <option value="">Choose ..</option>
                                    {% for funder in helper.funders %}
                                         <option value="{{ funder.funder_name}}">{{ funder.funder_name | capitalize}}</option>
                                    {% endfor %}
                                </select> 

                               {% if errors.funder  %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.funder | first }} </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->

            </div>
            <hr>
            <h3 class="box-title m-t-15">Other Information</h3>

              <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Reason for dropout</label>
                            <div class="col-md-9">
                                  <div class="form-group">

                                <select class="form-control custom-select {{ errors.dropout_reason ? 'is-invalid':''}}"
                                 name="dropout_reason">

                                    <option value="">Choose ..</option>
                                    {% for dropout in dropouts %}
                                         <option value="{{ dropout.reason}}">{{ dropout.reason }}</option>
                                    {% endfor %}
                                </select> 

                               {% if errors.dropout_reason  %}
                                      <div class="form-control-feedback invalid-feedback"> {{ errors.dropout_reason | first }} </div> 
                                {% endif %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Comments or Other reasons</label>
                            <div class="col-md-9">
                                  <div class="form-group">
                                        <textarea class="textarea_editor form-control" name="comments"
                                        rows="8" placeholder="" style="height:80px">
                                        {{ old.comments}}
                                        </textarea>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->

                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Any other notes</label>
                            <div class="col-md-9">
                                  <div class="form-group">
                                        <textarea name="notes" class="textarea_editor form-control" rows="10" placeholder="Enter text ..." style="height:350px">
                                        {{ old.notes }}
                                        </textarea>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->


            <div class="form-actions ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="pull-right">
                             
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                        <div class="col-md-2 offset-md-10">
                            <div class="pull-right">
                                <button type="submit" class="btn   btn-primary btn-block">
                                   Continue 
                                        <i class="fa fa-fast-forward" aria-hidden="true"></i>
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {{ csrf.field | raw}}

        </form>
    </div>
</div>

{% endblock %}