{% extends 'layout/master.twig' %}

{% block content %}

    <div class="row align-self-center">
    <div class="col-md-10 offset-md-1">
        <div class="card d-flex justify-content-center" >
            <div class="card-body">
             

                <h3 class="text-info font-weight-bold">
                   <i class="fa fa-product-hunt" aria-hidden="true"></i>  &nbsp;&nbsp; &nbsp;&nbsp;
                   {{ complain.title}}  

                     {% if complain.status == 'pending'%}
                     <span class="float-right text-success">
                     <span class="badge badge-danger">Pending </span>
                     </span>

                     {% else %}

                     <span class="float-right ">
                     <span class="badge badge-primary">&nbsp; Closed </span>
                     </span>
                     {% endif %}
                </h3>
                    <h6>Posted on <strong>{{ complain.created_at | date('j F, Y') }}</strong> at
                    <strong>{{ complain.created_at | date("H:i:s")}}</strong></h6>
                     <p></p>
                    <p>{{ complain.body | raw }}</p>
                  

                  {% if complain.status == 'pending' %}
                    
                    <form method="POST" action="{{ path_for('complain.closed',{id:complain.id}) }}">
                        <button class="btn btn-warning float-right" 
                        onClick="return confirm ('Are you sure you want to close this ticket?')"
                            type="submit"><i class="fa fa-times-circle" aria-hidden="true"></i> 
                            Close this Ticket</button>
                            {{ csrf.field | raw}}
                    </form>

                  {% else %}
                
                        <form method="POST" action="{{ path_for('complain.reopen',{id:complain.id}) }}">
                        <button class="btn btn-success float-right" 
                        onClick="return confirm ('Are you sure you want to reopen this ticket?')"
                            type="submit"><i class="fa fa-folder-open-o" aria-hidden="true"></i>
                            Reopen this Ticket</button>
                            {{ csrf.field | raw}}
                    </form>
                  {% endif %}
                
                    <hr>

                    <h5 class="text-info">All Comments</h5>

                    {% for reply in replies %}
                   <div class="media-single">
                   <div class="media"> 
                    
                        {% if  reply.role ==  1 %}
                            <img class="mr-3" src="{{path}}superadmin.png" height="60" width="60"
                            class="rounded-circle" />
                        {% else %}
                            <img class="mr-3" src="{{path}}profile.jpeg" height="60" width="60" class="rounded-circle" />
                         {% endif %}
                    
                        {% if reply.role == 1 %}
                        <div class="media-single-admin">
                        {% else %}
                        <div class="media-single-body">
                        {% endif %}


                        <div class="media-body">
                        
                            <h5 class="mt-0 ">{{ reply.user_name }}</h5>
                            {{ reply.message | raw }}
                            <br>
                            <small> <strong>{{ complain.created_at | date('j F, Y') }}</strong> at
                            <strong>{{ reply.created_at | date("H:i:s")}}</strong> </small>
                        </div>
                      </div>


                     </div>
                     </div>
                     {% endfor %}

                    {% if complain.status == 'pending' %}                    
                

                   <form method="post" action="{{ path_for('complain.single',{id:complain.id})}}">
                    <div class="form-group">
                            <label for="exampleFormControlTextarea1"></label>
                            <textarea class="textarea_editor form-control {{ errors.reply ? 'is-invalid':''}}" name="reply"
                                        rows="8" placeholder="" style="height:130px" maxlength="2500">
                            </textarea>
                        </div>

                        <div>
                        <button type="submit" class="btn btn-primary btn-info">
                         &nbsp; &nbsp;<i class="fa fa-reply" aria-hidden="true"></i>
                          Reply</button>
                        </div>
                        
                        {{ csrf.field | raw}}
                   </form>

                   {% else %}
                  <div class="alert alert-warning" role="alert">
                         This ticket has been closed
                   </div>

                   {% endif %}
            
            </div>
        </div>

   </div>
 </div>
 </div>


{% endblock %}
