{% extends 'layout/master.twig' %}

{% block content %}
 
 <div class="col-md-6 offset-md-3">
<div class="card">
 
  <div class="card-body">
        <div class="card-title">
            <h4 class="text-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>
             Change Password</h4>
        </div>
        <hr>

        <div class="card-body">
            <div class="basic-form">
                <form method="POST" action="{{ path_for('changepassword') }}">
                <div class="form-group">
                        <label>Enter your old password</label>
                        <input type="password"   name="old_password" 
                        class="form-control {{ errors.old_password ? 'is-invalid':' ' }} "
                         placeholder="Enter your old Password" >
                        {% if errors.old_password %}
                        <div class="invalid-feedback">
                            {{ errors.old_password | first}}
                        </div>
                        {% endif %}
                    </div>

                      <div class="form-group">
                        <label>New  password</label>
                       
                        <input type="password"   name="new_password" 
                        class="form-control {{ errors.new_password ? 'is-invalid':' ' }} "
                         placeholder="Enter your new Password" >
                          <small>Password must have a minimum of 6 characters</small>
                        {% if errors.new_password %}
                        <div class="invalid-feedback">
                            {{ errors.new_password | first}}
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>Confirm New  password</label>
                        <input type="password"   name="confirm_password" 
                        class="form-control {{ errors.confirm_password ? 'is-invalid':' ' }} "
                         placeholder="Confirm  new Password" >
                        {% if errors.confirm_password %}
                        <div class="invalid-feedback">
                            {{ errors.confirm_password | first}}
                        </div>
                        {% endif %}
                    </div>


                 
                    <input type="hidden" name="_METHOD" value="PUT" />
                   {{ csrf.field | raw }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
</div>
</div>
</div>

{% endblock %}

