 <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. </footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{{ base_url()}}/assets/js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ base_url()}}/assets/js/bootstrap.min.js"></script>
    <script src="{{ base_url()}}/assets/js/scripts.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{{ base_url()}}/assets/js/plugins/slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="{{ base_url()}}/assets/js/plugins/sidebar.min.js"></script>
    <!--Custom JavaScript -->
    <script src="{{ base_url()}}/assets/js/plugins/popper.min.js"></script>
    <script src="{{ base_url()}}/assets/js/plugins/sticky-lit.min.js"></script>


    <!-- Amchart -->
    <script src="{{ base_url()}}/assets/js/morris/dashboard.js"></script>
    <script src="{{ base_url()}}/assets/js/morris/morris.js"></script>
    <script src="{{ base_url()}}/assets/js/morris/rapheal.js"></script>

    <script src="{{ base_url()}}/assets/js/calender/calender.min.js"></script>
    <script src="{{ base_url()}}/assets/js/calender/latest.min.js"></script>
    <script src="{{ base_url()}}/assets/js/calender/pignose.init.js"></script>
    <script src="{{ base_url()}}/assets/js/calender/prism.min.js"></script>
    <script src="{{ base_url()}}/assets/js/calender/semantic.min.js"></script>
     

    <script src="{{ base_url()}}/assets/js/carousel/owl-carousel.js"></script>
    <script src="{{ base_url()}}/assets/js/carousel/owl.js"></script>
  
   
    

</body>

</html>