 <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li>
                         <a class="has-arrow " href="{{ path_for('dashboard')}}" aria-expanded="false"><i class="fa fa-tachometer"></i>
                         <span class="hide-menu">Dashboard
                          </a>
                        </li>
                        <li class="nav-label">App</li>

                        <li> <a class="has-arrow  " href="#" aria-expanded="false">
                          <i class="fa fa-suitcase"></i>
                        <span class="hide-menu">Students
                        </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('student.index')}}">All students</a></li>

                                 {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('student.create')}}">New student</a></li>
                                {% endif %}
                        
                            </ul>
                        </li>

                        <li> <a class="has-arrow  " href="#" aria-expanded="false">
                        <i class="fa fa-university" aria-hidden="true"></i>
                        <span class="hide-menu">Schools</span>
                        </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('school.index')}}">All Schools</a></li>

                                 {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('school.create')}}">New School</a></li>
                                {% endif %}
                       
                            </ul>
                        </li>

                   
                        <li> <a class="has-arrow" href="#" aria-expanded="false">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                         <span class="hide-menu">Subjects</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('subject.index')}}">All Subjects</a></li>

                                 {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('subject.create')}}">New subject</a></li> 
                                {% endif %}
                            </ul>
                        </li>

                        <li> <a class="has-arrow" href="#" aria-expanded="false">
                       <i class="fa fa-book" aria-hidden="true"></i>
                         <span class="hide-menu">Courses</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('course.index')}}">All Courses</a></li>

                                 {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('course.create')}}">New Course</a></li> 
                                {% endif %}
                            </ul>
                        </li>




                        <li class="nav-label">Categories</li>
                      
                      {% if auth.permission.id  in [4,5] %}
					     <li> <a class="has-arrow  " href="#" aria-expanded="false">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="hide-menu">Users</span></a>
                            <ul aria-expanded="false" class="collapse">
                                 <li><a href="{{ path_for('user.index')}}">All User</a></li>
                                <li><a href="{{ path_for('auth.register')}}">New User</a></li>
                            </ul>
                        </li>
                        {% endif %}

                      
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"> 
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <span class="hide-menu">Banks</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('bank.index')}}">All Banks</a></li>

                                {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('bank.create') }}">New Bank</a></li>
                                {% endif %}
                            </ul>
                        </li>

                     <li> <a class="has-arrow  " href="#" aria-expanded="false"> 
                       <i class="fa fa-building" aria-hidden="true"></i>
                        <span class="hide-menu">Accomodation</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('hostel.index')}}">Accomodation</a></li>

                                 {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('hostel.create') }}">New Accomodation</a></li>
                                {% endif %}

                            </ul>
                        </li>

                         <li class="nav-label">Reports</li>

                         <li> <a class="has-arrow  " href="#" aria-expanded="false"> 
                       <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        <span class="hide-menu">Reports</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('report.index')}}">Download Reports</a></li>
                           
                            </ul>
                        </li>
                     
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>