 <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                         <li>
                         <a class="has-arrow " href="{{ path_for('dashboard')}}" aria-expanded="false"><i class="fa fa-tachometer"></i>
                         <span class="hide-menu">Dashboard
                          </a>
                        </li>

                        {% if auth.permission.id in [4,6] %}

                        <li> <a class="has-arrow  " href="#" aria-expanded="false">
                          <i class="fa fa-frown-o" aria-hidden="true"></i>
                        <span class="hide-menu">Grievances
                        </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('complain.index')}}">All Grievances</a></li>

                                
                            </ul>
                        </li>

                        {% endif %}

                        <li> <a class="has-arrow  " href="#" aria-expanded="false">
                          <i class="fa fa-suitcase"></i>
                        <span class="hide-menu">Students
                        </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('student.index')}}">All students</a></li>

                                 {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('student.create')}}">New student</a></li>
                                {% endif %}
                        
                            </ul>
                        </li>

                        <li> <a class="has-arrow  " href="#" aria-expanded="false">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        <span class="hide-menu">Search Results
                        </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('allresult.index')}}">Search</a></li>
                            </ul>
                        </li>

                        <li> <a class="has-arrow  " href="#" aria-expanded="false">
                        <i class="fa fa-university" aria-hidden="true"></i>
                        <span class="hide-menu">Schools</span>
                        </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('school.index')}}">All Schools</a></li>

                                 {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('school.create')}}">New School</a></li>
                                {% endif %}
                       
                            </ul>
                        </li>
                     
                     {% if auth.permission.id in [5] %}

                     {% else %}
                   
                        <li> <a class="has-arrow" href="#" aria-expanded="false">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                         <span class="hide-menu">Subjects</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('subject.index')}}">All Subjects</a></li>

                                 {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('subject.create')}}">New subject</a></li> 
                                {% endif %}
                            </ul>
                        </li>

                        <li> <a class="has-arrow" href="#" aria-expanded="false">
                       <i class="fa fa-book" aria-hidden="true"></i>
                         <span class="hide-menu">Courses</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('course.index')}}">All Courses</a></li>

                                 {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('course.create')}}">New Course</a></li> 
                                {% endif %}
                            </ul>
                        </li>

                       

                    <li> <a class="has-arrow" href="#" aria-expanded="false">
                       <i class="fa fa-book" aria-hidden="true"></i>
                         <span class="hide-menu">Mentorship</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('mentor.index')}}">All Mentors</a></li>
                                 {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('mentor.create')}}">New Record</a></li> 
                                {% endif %}
                            </ul>
                        </li>

                         {% endif %}




                        <li class="nav-label">Categories</li>
                      
                      {% if auth.permission.id  in [4,5] %}
					     <li> <a class="has-arrow  " href="#" aria-expanded="false">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="hide-menu">Users</span></a>
                            <ul aria-expanded="false" class="collapse">
                                 <li><a href="{{ path_for('user.index')}}">All User</a></li>
                                <li><a href="{{ path_for('auth.register')}}">New User</a></li>
                            </ul>
                        </li>
                        {% endif %}

                      
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"> 
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <span class="hide-menu">Banks</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('bank.index')}}">All Banks</a></li>

                                {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('bank.create') }}">New Bank</a></li>
                                {% endif %}
                            </ul>
                        </li>

                    <li> <a class="has-arrow  " href="#" aria-expanded="false"> 
                 <i class="fa fa-fax" aria-hidden="true"></i>
                        <span class="hide-menu">Subcounties</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('subcounty.index')}}">All Subcounties</a></li>

                                {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('subcounty.create') }}">New Subcounty</a></li>
                                {% endif %}
                            </ul>
                        </li>

                     <li> <a class="has-arrow  " href="#" aria-expanded="false"> 
                       <i class="fa fa-building" aria-hidden="true"></i>
                        <span class="hide-menu">Accomodation</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('hostel.index')}}">Accomodation</a></li>

                                 {% if auth.permission.id in [2,3,4,5]  %}
                                <li><a href="{{ path_for('hostel.create') }}">New Accomodation</a></li>
                                {% endif %}

                            </ul>
                        </li>

                         <li class="nav-label">Reports </li>

                         <li> <a class="has-arrow  " href="#" aria-expanded="false"> 
                       <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        <span class="hide-menu">Reports</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('report.index')}}">Download Reports</a></li>
                           
                            </ul>
                        </li>

                         <li> <a class="has-arrow  " href="#" aria-expanded="false"> 
                       <i class="fa fa-dropbox" aria-hidden="true"></i>
                           <span class="hide-menu">Draft
                                
                         </span>
                         &nbsp; <span class="badge badge-pill badge-danger">{{ students.drafts}}</span>
                        </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('draft.index')}}">All Drafts</a></li>
                           
                            </ul>
                        </li>

               
                    {% if auth.user.role_id in [5] %}
                     <li class="nav-label">Trash and Logs</li>

                      <li> <a class="has-arrow  " href="#" aria-expanded="false"> 
                       <i class="fa fa-trash" aria-hidden="true"></i>
                        <span class="hide-menu">Students</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('students.trash')}}">Students</a></li>
                           
                            </ul>
                        </li>

                      <li> <a class="has-arrow  " href="#" aria-expanded="false"> 
                       <i class="fa fa-server" aria-hidden="true"></i>
                        <span class="hide-menu">Update Logs</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path_for('log.index')}}">Logs</a></li>
                           
                            </ul>
                        </li>
                    {% endif %}


                     
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>