{% extends 'layout/master.twig' %}

{% block content %}

<div class="">

</div>

<ul class=" student-list list-inline ">
{% if student.photo %}
<img src="{{path}}{{student.photo}}" height="60" width="60" class="rounded-circle" />
{% else %}
<img src="{{path}}/profile.png" height="60" width="60" class="rounded-circle" />
{% endif %}

 <a href="{{path_for('student.edit',{id:student.bursary_id})}}">
    <li class=" btn btn-primary  student-list-item  list-inline-item " >
        <i class="fa fa-user" aria-hidden="true"></i>
            Personal  Information 
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </li>
 </a>



{% if student.level == 'secondary'%}
 <a href="{{path_for('secondary.update',{id:info.id})}}">
  <li class=" btn btn-primary  student-list-item  list-inline-item " >
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
             Edit  School  Information  
       <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </li>
</a>

<a href="{{path_for('mysubject.index',{id:student.bursary_id})}}">
  <li class=" btn btn-primary  student-list-item  list-inline-item " >
        <i class="fa fa-address-book" aria-hidden="true"></i>   Edit Subjects 
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </li>
</a>

<a href="{{path_for('result.index',{id:student.bursary_id})}}">
  <li class=" btn btn-primary  student-list-item  list-inline-item " >
        <i class="fa fa-address-book" aria-hidden="true"></i>  Results 
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </li>
</a>

{% endif %}

{% if student.level == 'tertiary' or student.level == 'university' %}

  <a href="{{path_for('institution.edit',{id:info.id})}}">
  <li class=" btn btn-primary  student-list-item  list-inline-item " >
        <i class="fa fa-university" aria-hidden="true"></i> 
         Edit  Institution  Information  
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </li>
</a>


{% endif %}

  <a href="{{path_for('amount.index',{id:student.bursary_id})}}">
    <li class=" btn btn-warning  student-list-item  list-inline-item " >
        <i class="fa fa-money" aria-hidden="true"></i>
           Amount Paid
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </li>
 </a>

 <a href="{{ path_for('student.show',{id:student.bursary_id})}}" class="btn btn-success dflex-align-right">
  <li class="student-list-item list-inline-item " >
    <i class="fa fa-eye" aria-hidden="true"></i> View
    </li>
 </a>

</ul>


{% block basecontent %}

{% endblock %}



{% endblock %}