       <div class="card d-flex justify-content-center" >
            <div class="card-body">
                <h3 class="text-info"> <i class="fa fa-cogs" aria-hidden="true"></i>
                &nbsp;&nbsp; &nbsp;&nbsp; Institution Information
                
                </h3>
                <hr>
                   <div class="single_p" style="">
                        <p><span class="text-mute"> Institution Name:</span>
                            <span class="single_item"> 
                                 {{ school.school_name  }}
                            </span>
                        </p>

                         <p><span class="text-mute"> Registration number:</span>
                            <span class="single_item"> 
                                 {{ institution.registration_number  }}
                            </span>
                        </p>

                           <p><span class="text-mute"> Student number:</span>
                            <span class="single_item"> 
                                 {{ institution.student_number  }}
                            </span>
                        </p>


                        <p> <span class="text-mute"> Year of Start :</span>
                            <span class="single_item">  
                                {{ institution.year_start }}
                            </span>
                        </p>

                        <p> <span class="text-mute"> Year of Completion :</span> 
                            <span class="single_item"> 
                                {{ institution.year_stop }}
                            </span>
                         </p>

                        <p> <span class="text-mute"> Bank :</span> 
                            <span class="single_item"> 
                                {{institution.bank }}
                            </span>
                         </p>

                        <p> <span class="text-mute"> Bank Account :</span>
                            <span class="single_item"> 
                                {{institution.bank_account }}
                            </span>
                        </p>

                        <p> <span class="text-mute"> Bank Address:</span> 
                            <span class="single_item"> 
                                {{ institution.bank_address }}
                            </span>
                        </p>

                        <p> <span class="text-mute"> Student Index/Number :</span>
                            <span class="single_item"> 
                                {{institution.student_number}}
                            </span>
                        </p>

                        <p> <span class="text-mute"> stream:</span> 
                            <span class="single_item"> 
                                {{institution.stream }}
                            </span>
                        </p>
                        
                        <p> <span class="text-mute"> Favourite Subject:</span>
                            <span class="single_item"> 
                                {{ institution.fav_subject }}
                            </span>
                        </p>

                        <p> <span class="text-mute"> Favourite Sport :</span> 
                            <span class="single_item"> 
                                {{institution.fav_sport}}
                            </span>
                         </p> 
                    </div>
            </div>
        </div>

