       <div class="card d-flex justify-content-center" >
            <div class="card-body">
                <h3 class="text-info"> <i class="fa fa-cogs" aria-hidden="true"></i>
                &nbsp;&nbsp; &nbsp;&nbsp; Institution Information
                
                </h3>
                <hr>
                   <div class="single_p" style="">
                        <p><span class="text-mute"> Institution Name:</span>
                            <span class="single_item"> 
                                 {{ school.school_name  | capitalize}}
                            </span>
                        </p>

                        <p> <span class="text-mute"> Year of Start :</span>
                            <span class="single_item">  
                                {{ institution.year_start | date('d M, Y') }}
                            </span>
                        </p>

                        <p> <span class="text-mute"> Year of Completion :</span> 
                            <span class="single_item"> 
                                {{ institution.year_stop | date('d M, Y')}}
                            </span>
                         </p>

                        <p> <span class="text-mute"> Bank :</span> 
                            <span class="single_item"> 
                                {{institution.bank }}
                            </span>
                         </p>

                        <p> <span class="text-mute"> Bank Account :</span>
                            <span class="single_item"> 
                                {{institution.bank_account }}
                            </span>
                        </p>

                        <p> <span class="text-mute"> Bank Address:</span> 
                            <span class="single_item"> 
                                {{ institution.bank_address }}
                            </span>
                        </p>

                        <p> <span class="text-mute"> Student Index/Number :</span>
                            <span class="single_item"> 
                                {{institution.student_number}}
                            </span>
                        </p>

                        <p> <span class="text-mute"> stream:</span> 
                            <span class="single_item"> 
                                {{institution.stream }}
                            </span>
                        </p>
                        
                        <p> <span class="text-mute"> Favourite Subject:</span>
                            <span class="single_item"> 
                                {{ institution.fav_subject }}
                            </span>
                        </p>

                        <p> <span class="text-mute"> Favourite Sport :</span> 
                            <span class="single_item"> 
                                {{institution.fav_sport}}
                            </span>
                         </p> 
                    </div>
            </div>
        </div>



         <div class="card d-flex justify-content-center" >
            <div class="card-body">
                <h3 class="text-info"> <i class="fa fa-book" aria-hidden="true"></i>
                 &nbsp;&nbsp; &nbsp;&nbsp;
                Subjects</h3>
                <hr>
                   <div class="single_p">
                        <ul class="list-group">
                        {% for subject in subjects %}
                            <li class="list-group-item d-flex  align-items-center">
                               <i class="fa fa-star" aria-hidden="true"></i>    &nbsp;&nbsp; {{ subject.name }}
                            </li>
                        {% endfor %}
                    </ul>
                    </div>
            </div>
        </div>




      {% if student.s_form == 'S4' or  student.s_form == 'S6'%}
         <div class="card d-flex justify-content-center" > 
            <div class="card-body">
                <h3 class="text-info">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                 &nbsp;&nbsp; &nbsp;&nbsp;
                 Results for S.4 & S.6 only</h3>
                <hr>
                 <div class="single_p">
                    <h4 class="text-success font-weight-bold"> First Term Results</h4>
                    <p><span class="f_term">{{ institution.first_term | raw}}</span></p>

                    <h4  class="text-success font-weight-bold"> Second Term Results</h4>
                    <p><span class="f_term">{{ institution.second_term | raw }}</span></p>
                        
                    <h4  class="text-success font-weight-bold"> Third Term Results</h4>
                    <p><span class="f_term">{{institution.third_term | raw }}</span></p>
                        
                 </div> 
            </div>
        </div>

        {% endif %}