<nav aria-label="Page navigation" class="pagination-main">

  <ul class="pagination justify-content-center pull-right">
  {% if items.currentpage == 1 %}
        <li class="page-item disabled">
        <a class="page-link" href="{{ path_for('hostel.index')}}" tabindex="-1">Previous</a>  
        </li>

    
        <li class="page-item active">
            <a class="page-link" href="{{ path_for('hostel.index')}}?page={{ items.currentPage }}">{{ items.currentpage }}</a>
        </li>

    {% if items.hasMorePages == 1 %}
        <li class="page-item">
        <a class="page-link" href="{{ path_for('hostel.index')}}?page={{ items.currentPage + 1}}">Next</a>
        </li>
    {% endif %}

    {% else %}

      {% if items.hasMorePages == 1%}

        <li class="page-item ">
         <a class="page-link" href="{{ path_for('hostel.index')}}?page={{ items.currentPage - 1}}" tabindex="-1">Previous</a>  
        </li>

        <li class="page-item active">
            <a class="page-link" href="{{ path_for('hostel.index')}}?page={{ items.currentPage }}">{{ items.currentpage }}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ path_for('hostel.index')}}?page={{ items.currentPage + 1}}">Next</a>
        </li>


      {% elseif items.hasMorePages == 0 %}

         <li class="page-item ">
         <a class="page-link" href="{{ path_for('hostel.index')}}?page={{ items.currentPage - 1}}" tabindex="-1">Previous</a>  
        </li>

        <li class="page-item active">
            <a class="page-link" href="{{ path_for('hostel.index')}}?page={{ items.currentPage }}">{{ items.currentpage }}</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="">Next</a>
        </li>


      {% endif %}

    {% endif %}
 

    

  </ul>
</nav>